@backgroundcolour: #121212;
@headerback: black;
@descriptiontextcolour: white;
@sidebarback: black;
@postback: #333333;
@imagetheme: dark;
@menucolour: #dcdcdc;
@sidebartextcolour: white;
@colourblocktextcolour: white; /* also used for heading border */
@pagetextcolour: white;
@activemenuoptionback: @menuhovercolour; /* #424242; */
@menuhovercolour: rgb(255,105,51);
@headertextcolour: black;
@hyperlinkcolour: #99ccff;
@hyperlinkhovercolour: #0066cc;
@imageback: black;
font-family: Tahoma, 'Apple SD Gothic Neo', sans-serif;
@headerfont: 'Trebuchet MS',Trebuchet,Verdana,sans-serif;
@gradient1startcolour: rgba(80,61,101,1);
@gradient1endcolour: rgba(157,25,126,1);
@gradient2startcolour: rgba(65,36,19,1);
@gradient2endcolour: rgba(193,0,24,1);
@gradient3startcolour: rgba(39,80,59,1);
@gradient3endcolour: rgba(34,44,67,1);
@postfooterback: black;
@postfootertextcolour: white;
@bordercolour2: white;
@bordercolour: #eeeeee;
@formfieldback: #CCCCCC;
@blogpagerback: #c0c0c0;
@formfieldborder: #666666;
@formfieldtextcolour: black;
@formfieldfonts: 'Verdana, Arial, Helvetica, sans-serif';

@unusedborder: #4d4d4d;


/* Content
----------------------------------------------- */
body {
font-size: 14px;
font-family: @normalfont;
color: @pagetextcolour;
/*background-image: url('back2.png');*/
background-image: url('bg-texture-@{imagetheme}.jpg'); /* or light */
background-color: @backgroundcolour;
padding: 0 0 0 0;
margin: 0px;
}

.left, .right{ color: @sidebartextcolour; width: 20%; }

/* Header
----------------------------------------------- */
.header-outer {
background: transparent none repeat-x scroll 0 -400px;
background-image: none;
}
.header h1 {
font-size: 40px;
font-family: @headerfont;
color: @headertextcolour;
/*text-shadow: 2 2 2 rgba(0, 0, 0, .2);*/
}
.header h1 a {
color: @headertextcolour;
}
.header .description {
font-size: 18px;
}
.header-inner .header .titlewrapper {
padding: 22px 0;
}
.header-inner .header .descriptionwrapper {
padding: 0 0;
}

/* Columns
----------------------------------------------- */
.main-outer {
border-top: 0 solid transparent;
}
.fauxcolumn-left-outer .fauxcolumn-inner {
border-right: 1px solid transparent;
}
.fauxcolumn-right-outer .fauxcolumn-inner {
border-left: 1px solid transparent;
}
/* Headings
----------------------------------------------- */
h2 {
font-family: @headerfont;
margin: 0 0 1em 0;
font-weight: bold;
color: #000000;
}

/* Posts
----------------------------------------------- */
.date-header {
display: inline;
background-color: @postfooterback;
color: @postfootertextcolour;
padding: 0.4em;
letter-spacing: 3px;
margin: inherit;
font-size: 11px;
text-transform: uppercase;
font-weight: bold;
}
.date-header:hover {
background-color: @hyperlinkcolour;
}
.date-header a:link, .date-header a:visited { 
color: @postfootertextcolour; 
width: 100%; height: 100%;
text-decoration: none;
}
.main-inner {
padding-top: 35px;
padding-bottom: 65px;
}
.main-inner .column-center-inner {
padding: 0 0;
}
.main-inner .column-center-inner .section {
margin: 0 1em;
}
.post {
margin: 4200px 0 450px 0;
}
h3.post-title, .comments h4 {
font-size: 22px;
font-weight: normal;
margin: .75em 0 0;
text-decoration: underline;
margin-bottom: 1.35em;
}
.post-body {
width: 60%; 
font-size: 110%;
line-height: 1.4;
position: relative;
background-color: @postback;
}
.post-body img, .post-body .tr-caption-container, .Profile img, .Image img,
.BlogList .item-thumbnail img {
padding: 2px;
background: @imageback;
border: 1px solid @bordercolour;
-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}
.post-body img, .post-body .tr-caption-container {
padding: 5px;
}
.post-body .tr-caption-container {
color: #666666;
}
.post-body .tr-caption-container img {
padding: 0;
background: transparent;
border: none;
-moz-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
box-shadow: 0 0 0 rgba(0, 0, 0, .1);
}
.post-header {
margin: 0 0 1.5em;
line-height: 1.6;
font-size: 90%;
}
.post-footer {
margin: 20px -2px 0;
padding: 5px 10px;
color: @postfootertextcolour;
background-color: @postfooterback;
border-bottom: 3px solid @bordercolour2;
/*border-bottom: 3px solid #eeeeee;*/
line-height: 1.6;
font-size: 90%;
}
#comments .comment-author {
padding-top: 1.5em;
border-top: 1px solid transparent;
background-position: 0 1.5em;
}
#comments .comment-author:first-child {
padding-top: 0;
border-top: none;
}
.avatar-image-container {
margin: .2em 0 0;
}
#comments .avatar-image-container img {
border: 1px solid @bordercolour;
}

/* Accents
---------------------------------------------- */
.section-columns td.columns-cell {
border-left: 1px solid transparent;
}
.blog-pager {
background: transparent url() repeat-x scroll top center;
background-color: @blogpagerback;
padding: 1em;
}
.footerbutton{
/*background-color: #a11919;*/
background-color: @menuhovercolour;
padding: 5px;
margin: 0.15em;
}
.footerbutton:hover { background-color: @hyperlinkhovercolour; }

.container { width: 693px; margin-left: auto; margin-right: auto; }

.pane {
    /*width: 200px;*/
    width: 100%;
    /* min-height: 275px;*/
    display: inline-block;
    margin:     0px; padding: 0px;
    /* background-image: url('purpleback.png');  */
    font-size: 1em;
}

.main { font-size: 1.15em;  }

.header { letter-spacing: 0.15em; display: block; border-bottom: 1px solid @headerback; text-transform: uppercase; }
.purple { background-image: url(''); }
.red { background-image: url(''); }
.green { background-image: url(''); }

.contentarea{
    width: 1000px; min-height: 300px;
    margin-left: auto; margin-right: auto;
    background-color: @sidebarback;
    /*margin-top: 30px;*/
}

.descriptionwrapper {
  background: @headerback;
  width: 693px; margin-left: auto; margin-right: auto;
  vertical-align: middle;
  padding: 0px; 
  padding-top: 0px; min-height: 30px;
  padding-left: 24px; box-sizing: border-box;
  letter-spacing: 3.6px !important;
  /*color: white;*/
}
.descriptionwrapper p { 
  margin: 0px; display: inline; 
  position: relative; top: -8px;
}


.statcol { padding: 8px !important; box-sizing: border-box; }

div.statcol{ float: left; padding: 0px; vertical-align: middle; overflow: hidden; text-align: left; margin-bottom: 0px; }
/* div.statrow{ padding-top: 0px; vertical-align: middle; clear: both; float: none; } */
div.statrow { width: 100%; margin: 0 auto; overflow: hidden; }

.headerpane{
    width: 100%; min-height: 72px;
    background-color: @menuhovercolour;
    color: @descriptiontextcolour; font-size: 24px;
} 
.headerpane div.padfurther { 
  /*padding: 18px; padding-bottom: 0px;*/ 
  width: 693px; margin-left: auto; margin-right: auto; 
}
.headerpane h1 { margin-bottom: 0px; }

.divider{
    width: 100%; height: 24px;
    background-color: @headerback;
}


.header, .menutitle2 { letter-spacing: 0.15em; display: block; border-bottom: 1px solid @headerback; text-transform: uppercase; }

h1 { padding: 0px; margin: 0px; font-weight: normal; margin-bottom: 8px; }

a.footerbutton:link, a.footerbutton:visited, a.footerbutton:active { color: @pagetextcolour; }
a:link, a:visited, a:active { color: @hyperlinkcolour; text-decoration: none; }
a:hover { color: @hyperlinkhovercolour; text-decoration: underline; }

.colourblock {
  color: @colourblocktextcolour;
  width: 31%;
  height: 100%;
  padding: 1em !important;
  /*background-color: yellow;*/
  margin-right: 1em;
  box-sizing: border-box;
} .colourblock:first-child { margin-left: 1em; }

.centerwrapper { margin: auto; height: 200px; width: 90%; }

/*  ----
gradient blocks */

.gradient1 {
  background: @gradient1startcolour;
  background: linear-gradient(45deg, @gradient1startcolour 0%, @gradient1endcolour 100%);
}

.gradient2 {
  background: @gradient2startcolour;
background: linear-gradient(45deg, @gradient2startcolour 0%, @gradient2endcolour 100%);
}

.gradient3 {
  background: @gradient3startcolour;
background: linear-gradient(45deg, @gradient3startcolour 0%, @gradient3endcolour 100%);
}

.pane .header, .ddblueblockmenu .menutitle2, .colourblock .header 
  { text-decoration: none; border-bottom: 1px solid @colourblocktextcolour; margin-bottom: 0.85em; 
    /*margin-top: 1.35em;*/
  }

/* ----- forms ----- */
select {
 font-family: @formfieldfonts; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: @formfieldback;
 border: 1px solid @formfieldborder;
 color: @formfieldtextcolour;
}

input, input[type='text'], input[type='password'], textarea {
 font-family: @formfieldfonts; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: @formfieldback;
 border: 1px solid @formfieldborder;
 color: @formfieldtextcolour;
}

button, button[type='submit']{
 font-family: @formfieldfonts; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: @formfieldback;
 border: 3px ridge @formfieldborder;
 color: @formfieldtextcolour;
}


/* menus */
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
.ddblueblockmenu{
border: 0px solid @headerback;
border-bottom-width: 0;
width: 100%;
/*font-size: 0.8em;*/
}

.ddblueblockmenu ul{
margin: 0;
padding: 0px;
list-style-type: none;
margin-bottom: 1.15em;
}

.ddblueblockmenu li a{
display: block;
padding: 6px 0px;
padding-left: 9px;
/*width: 169px; 185px minus all left/right paddings and margins*/
text-decoration: none;
color: @menucolour;
/*background-color: #595959;*/
border-bottom: 0px solid @unusedborder;
border-left: 0px solid @activemenuoptionback;
}

* html .ddblueblockmenu li a{ /*IE only */
width: 187px; /*IE 5*/
width: 169px; /*185px minus all left/right paddings and margins*/
}

.ddblueblockmenu li a:hover {
background-color: @menuhovercolour;
border-left-color: @activemenuoptionback;
text-decoration: none;
}

.ddblueblockmenu li .active {
background-color: @activemenuoptionback;
border-left-color: @activemenuoptionback;
cursor: default;
}

.ddblueblockmenu div.menutitle{
color: @menucolour  ;
border-bottom: 3px solid @unusedborder;
padding: 1px 0;
padding-left: 5px;
/* background-color: #3c3c3c; */ padding-top: 12px;
font: bold 90%;
}

/* ---- responsive ------ */

@media screen and (max-width: 1000px) {
  .contentarea, .padfurther, .pane { width: 100% !important; }
  .padfurther {
  padding: 0px !important;
  margin: 0px !important;
}

}

@media screen and (max-width: 851px) {
  .colourblock {
    width: 30%;
    margin: 0px 0.85em;
  }
}

@media screen and (max-width: 700px) {
  .titlewrapper { padding-left: 1em; } .descriptionwrapper { padding-left: 2em; }

  .colourblock {
    width: 32%;
    margin: 0px;
  }
  .centerwrapper, .descriptionwrapper { width: 100%; }
  .ddblueblockmenu li a { padding-left: 0px; }
  .contentrow .statcol { float: none; }
  .maincontentrow .statcol { width: 100% !important; }
  
  /* rearrange elements * /
  /* 
  https://webdesign.tutsplus.com/tutorials/a-few-different-css-methods-for-column-ordering--cms-27079
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns
  https://www.digitalocean.com/community/tutorials/css-css-grid-layout-fr-unit
  */
  .maincontentrow { 
    display: grid !important; 
    grid-template-columns: repeat(1);
  }
  .right { order: 2; float: none !important; }
  .left { order: 3; float: none !important; }
  /* /////_______//// */
}




@media screen and (max-width: 600px) {
    .contentarea, .padfurther, .statcol, .pane { width: 100% !important; }
    .statcol { display: block !important; clear: both;}
    .padfurther { box-sizing: border-box; }
}

@media screen and (max-width: 500px) {
  .headerpane p { margin: 0px; }
  .divider { /*display: none; */ background-color: transparent; }
  .descriptionwrapper { padding: 0.85em 0px 0.85em 2em; height: unset; min-height: 40px; }
  .headerpane { height: unset; min-height: 72px; }
  h2 { font-size: 1em; }
  h3.post-title, .comments h4 { font-size: 1.85em; }
  .contentarea { font-size: 1.15em; margin-top: 0px; }
  .ddblueblockmenu { font-size: 1.15em; }
  .ddblueblockmenu li { margin: 0.85em 0px; }

  /* rearrange elements * /
  /* 
  https://webdesign.tutsplus.com/tutorials/a-few-different-css-methods-for-column-ordering--cms-27079
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns
  https://www.digitalocean.com/community/tutorials/css-css-grid-layout-fr-unit
  */
  .contentarea { 
    display: grid !important; 
    grid-template-rows: none;
    /*grid-template-columns: repeat(1);*/
  }
  .cbr { order: 2; float: none !important; }
  .maincontentrow { order: 1; float: none !important; }
  /* /////_______//// */
  .colourblock:first-child { margin-left: 0px; }

}
